.app{
    padding-top: 20px;
    align-items: center;
}

.app-title{
    font-size: 26px;
    text-align: center;
}

.title-reminder{
    font-size: 20px;
}

.delete-button{
    float: right;
    padding-left: 5px;
    cursor: pointer;
}

.delete-button:hover{
    color: #1fb7ff;
    font-weight: bold;
}

.alert{
    border: 2px solid #ff0000;
}

.green{
    border: 1px solid #008000;
}

.space{
    margin: 5px;
}